{% extends 'base.html.twig' %}

{% block title %}Realisations index{% endblock %}

{% block body %}
    <h1>Realisations index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for realisation in realisations %}
            <tr>
                <td>{{ realisation.id }}</td>
                <td>{{ realisation.name }}</td>
                <td>{{ realisation.description }}</td>
                <td>
                    <a href="{{ path('realisations_show', {'id': realisation.id}) }}">show</a>
                    <a href="{{ path('realisations_edit', {'id': realisation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('realisations_new') }}">Create new</a>
{% endblock %}
